﻿@{
    Bundles.Reference("Content/Css", "Css");
    Bundles.Reference("Content/Scripts", "Scripts");  
}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>@(ViewBag.Title)@(ViewBag.Title != null ? " - " : string.Empty) - Environment configuration made easy!</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Bundles.RenderStylesheets("Css")
</head>
<body>
    <nav id="header">
        <div class="row">
            <div class="small-12 columns">
                <h2 id="logo">
                    <a href="/"><img src="~/Content/Images/logo-small.png" height="32" width="32" alt="" title="" /> Zap <span class="highlight">Config</span></a>
		        </h2>
                <div id="top-nav" class="">
					<ul id="fixed-nav">
						@RenderSection("Navigation")
					</ul>
				</div>

            </div>
        </div>
    </nav>

    <div id="body">
        @RenderBody()
    </div>

    @Bundles.RenderScripts("Scripts")

    @RenderSection("PageScript", false)


</body>
</html>