﻿@model HomeNavModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    @{
        var current = "class=current";
        var aboutClass = Model.Current == HomeNavigation.About ? current : string.Empty;
        var supportClass = Model.Current == HomeNavigation.Pricing ? current : string.Empty;
        var pricingClass = Model.Current == HomeNavigation.Support ? current : string.Empty;
        var downloadsClass = Model.Current == HomeNavigation.Downloads ? current : string.Empty;
        var getStartedClass = Model.Current == HomeNavigation.GetStarted ? current : string.Empty;
        var loginClass = Model.Current == HomeNavigation.Login ? current : string.Empty;
    }
	<li @aboutClass><a href="@Url.Action("Index")">About</a></li>
    <li @supportClass><a href="@Url.Action("Pricing")">Pricing</a></li>
    <li @pricingClass><a href="@Url.Action("Support")">Support</a></li>
	<li @downloadsClass><a href="@Url.Action("Downloads")">Downloads</a></li>
    <li @getStartedClass><a href="@Url.Action("GetStarted")">Get Started</a></li>						
    <li @loginClass><a href="@Url.Action("Login")" target="_blank">Login</a></li>
}

@RenderBody()


<div id="footer">
    <p>&copy; @DateTime.Now.Year ZapConfig</p>
    <p>
        <a href="@(Url.Action("Docs", "Home"))">Docs</a>
        &nbsp;|&nbsp; 
        <a href="@(Url.Action("Pricing", "Home"))">Pricing</a>
        &nbsp;|&nbsp; 
        <a href="@(Url.Action("Support", "Home"))#contact">Contact</a>
    </p>
</div>

@section PageScript {
    @RenderSection("PageScript", false)
}