﻿@{
    ViewBag.Title = "Thank you for contacting ZapConfig";
}
    <div class="section" id="support" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Thank you for your question</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                            <p>We will respond soon!</p>
						</div>
					</div>
                </div>
			</div>
		</div>
	</div> 
