﻿@model DocumentationViewModel
@{
    ViewBag.Title = "ZapConfig Documentation";
}
	<div class="section section-alt">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>ZapConfig Documentation</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
					</div>
				</div>
				<div class="row">
                    <div class="large-3 columns show-for-medium-up">
                        @foreach (var s in Model.Sections)
                        {
                            <strong><a href="#@s.Name">@s.Name</a></strong>
                            <ul class="docs-menu">
                                @foreach (var m in s.Methods) 
                                {
                                    <li><a href="#@s.Name-@m.Name" title="@m.Description">@m.Name</a></li>
                                }
                            </ul>
                        }
                    </div>

                    <div class="small-12 large-9 columns">
                        @foreach (var s in Model.Sections)
                        {
                            <h3 id="@s.Name">@s.Name</h3>
                            <p>@(new MvcHtmlString(s.Description.Replace("\n", "<br/>")))</p>
                            
                            foreach (var m in s.Methods)
                            {
                                <h4 id="@s.Name-@m.Name" class="docs">@m.Name</h4>
                                <hr class="hr-docs" />
                                <blockquote>
                                
                                    <p>@(new MvcHtmlString(m.Description.Replace("\n", "<br/>")))</p>
                                    @if (m.Parameters.Count > 0) 
                                    {
                                        <h5>Parameters:</h5>
                                        <blockquote>
                                            @foreach (var p in @m.Parameters)
                                            {
                                                <div><span class="parameter-name">@p.Name</span> : @p.Purpose</div>
                                            }
                                        </blockquote>
                                    }
                                
                                    @if (!string.IsNullOrEmpty(m.Result))
                                    {
                                        <h5>Returns:</h5>
                                        <blockquote class="result">@m.Result</blockquote>
                                    }
                                
                                    @if (m.Errors.Count > 0)
                                    {
                                        <h5>Possible Errors:</h5>
                                
                                        <blockquote>
                                            @foreach (var e in m.Errors)
                                            {
                                                <span class="error-title">@e.ErrorMessage</span>
                                                <p>@e.Meaning</p>
                                            }
                                        </blockquote>
                                    }
                                </blockquote>
                            }
                        }
                    </div>
                </div>
			</div>
		</div>
	</div>
	