﻿@model HomeNavModel
@{
    ViewBag.Title = "ZapConfig downloads";
}
	<div class="section section-alt" id="pricing">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>Tools to interact with ZapConfig</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
					</div>
				</div>
                <div class="row">
                    <div class="small-12 columns">
                        <h3>ZapConsole</h3>
                        <p>ZapConsole is a command line tool that allows you to access your configured transforms right after you've deployed your application. Checkout the <a href="@(Url.Action("Docs", "Home"))">Documentation page</a> for usage information.</p>
                        <p><a href="~/Content/Downloads/ZapConsole.zip">Download the ZapConsole app</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h3>Zap Powershell</h3>
                        <p>Zap Powershell is a powershell script that allows you to access your configured transforms right after you've deployed your application. Checkout the <a href="@(Url.Action("Docs", "Home"))#Powershell">Documentation page</a> for usage information.</p>
                        <p><a href="~/Content/Downloads/ZapConfig.ps1.zip">Download the Zap Powershell script</a></p>
                    </div>
                </div>
			</div>
		</div>
	</div>
	