﻿@{
    ViewBag.Title = "ZapConfig - Page not found...!";
}
	<div class="section section-alt" id="pricing">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Oops! You've found the service entrance...No peaking!</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                            <img src="~/Content/Images/logo-medium.png" alt="" title="" />

							<p>Let's get you back on track. Click on one of the menu items at the top of the page!</p>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	