﻿@model GetStartedModel
@{
    ViewBag.Title = "Get started today with ZapConfig";
}
	<div class="section section-alt" id="pricing">
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Create your account now</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p>Don't worry about payment just yet - create your account for free!</p>
						</div>
					</div>
					<div class="small-6 small-centered columns">
                        <form method="post" action="@Url.Action("GetStarted")">
                            <fieldset>
                                <legend>Please enter your details below:</legend>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.LabelFor(m => m.SelectedProductType)
                                        @Html.DropDownListFor(m => m.SelectedProductType, Model.AvailableProducts)
                                        @Html.ValidationMessageFor(m => m.SelectedProductType)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.LabelFor(m => m.CompanyName)
                                        @Html.TextBoxFor(m => m.CompanyName, new { placeholder = "ACME Limited" })
                                        @Html.ValidationMessageFor(m => m.CompanyName)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.LabelFor(m => m.EmailAddress)
                                        @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "You@yourdomain.com" })
                                        @Html.ValidationMessageFor(m => m.EmailAddress)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password)
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword)
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns right">
                                        @Html.SpamPreventionFields()
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns right">
                                        <input type="submit" value="Create Account" class="btn" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
				</div>			
			</div>
		</div>
	</div>
	