﻿@{
    ViewBag.Title = "Welcome to ZapConfig";
}

	<!-- Big Full screen Banner -->
	<div class="hero-panel" id="home">
		<div class="row">
			<div class="small-12 columns slogan">
				<h1 id="home-slogan">Reliable application configuration in one place.</h1>
                @*<img src="~/Content/Images/logo-small.png" alt="" title="" />*@
                <p>
                    <a class="btn btn-warning" href="@Url.Action("GetStarted")">Get Started Now &raquo;</a>
                </p>
			</div>
		</div>
	</div>
	<!-- End Full screen banner  -->
	<!-- What Section -->
	<div class="section section-alt" id="what">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>What is ZapConfig?</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						<p>We make environment based application configuration so easy, your boss could do it.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
                        <p>ZapConfig was built by developers, for developers. We are firm believers and practicioners of continuous deployment, and we wanted to make sure our configuration of our application is consistent, and predictable from nightly, through QA, all the way into production. We also didn't want sensitive production passwords to be left floating around for anyone to see.</p>
                        <p>So we built ZapConfig to make things easy.</p>
                    </div>
                </div>
				<div class="row">
					<div class="small-12 large-4 columns i-block">
						<h3>One place</h3>
						<img src="~/Content/Images/oneplace.png" class="banner-image" alt="" title="" />
						<p>Having configuration scattered throughout your various applications is a maintenance nightmare. ZapConfig keeps your application configuration in one place. For <i>all</i> applications. For <i>all</i> environments.</p>
					</div>
					<div class="small-12 large-4 columns i-block">
						<h3>Automated</h3>
                        <img src="~/Content/Images/automated.png" class="banner-image" alt="" title="" />
						<p>Manually setting up configuration after a deployment is error prone. ZapConfig will configure your application for each of your environments reliably <i>every time</i>.</p>
					</div>
					<div class="small-12 large-4 columns i-block">
						<h3>Secure</h3>
                        <img src="~/Content/Images/secure.png" class="banner-image" alt="" title="" />
						<p>Having production database passwords in plain text in your source code is far from ideal. ZapConfig encrypts all sensitive configuration values to keep things on a <i>need to know</i> basis.</p>
					</div>
				</div>
				<div class="hr hr-invisible"></div>
				<div class="row">
					<div class="small-12 columns">
                        <p>ZapConfig is release transforms on steroids. It allows you to configure variables for your applications across your various release environments. The variables can be reused across multiple applications, or nuget packages.</p>
                        <p><strong>At deployment time</strong>, you run one of our <a href="@Url.Action("Downloads")">config tools</a> and it will configure your app/web.config depending on the environment you are deploying to, and how you've configured your variables. It can also update your configuration based on which nuget packages your application depends on.</p>
                        <p>This means that your configuration can be consistent across your applications, and means you no longer need to rely on someone manually changing the configuration file of your application in Production!</p>
                        @*<p><strong>At runtime</strong>, your application can access runtime settings via our easy API (A <a href="@Url.Action("Downloads")">nuget package</a> is available, or you can just include our <a href="@Url.Action("Downloads")">api dll</a> in your project). So if you want to update settings on the fly, you don't need to stop/start your application.</p>*@
                        <p>For more information about why you should use ZapConfig, check out our <a href="@Url.Action("Support")">faqs</a> and <a href="@Url.Action("Docs")">documentation</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End What Section -->