﻿@{
    ViewBag.Title = "ZapConfig pricing";
}
    <!-- Pricing Section -->
	<div class="section section-alt" id="pricing">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>How much is ZapConfig?</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						<p>We have options to suit everybody.</p>
					</div>
				</div>
				<div class="row">
                    <div class="small-12 large-4 columns pricing-table">
                        <div class="price-block">
                            <h3>Shock</h3>
                            <div class="price">
                                <div class="price-figure">
                                    <span class="price-number">Free</span>
                                    <span class="price-tenure">&nbsp;</span>
                                </div>
                            </div>
                            <ul class="features">
                                <li>1 Admin account</li>
                                <li>2 Environments</li>
								<li>20 Deployment settings</li>
                                <li>10 Packages</li>
                            </ul>
                            <div class="description">Great for small projects, or if you just want to see if ZapConfig is right for you.</div>
                            <div class="footer">
                                <a href="@Url.Action("GetStarted", new { productType = EAccountType.Shock })" class="btn btn-inverse">Start now</a>
                            </div>
                        </div>
                    </div>

                    <div class="small-12 large-4 columns pricing-table">
                        <div class="price-block">
                            <h3>Bolt</h3>
                            <div class="price">
                                <div class="price-figure">
                                    <span class="price-number">$29 USD</span>
                                    <span class="price-tenure">per month</span>
                                </div>
                            </div>
                            <ul class="features">
                                <li>5 Admin accounts</li>
                                <li>5 Environments</li>
								<li>100 Deployment settings</li>
                                <li>100 Packages</li>
                            </ul>
                            <div class="description">Great for medium to large sized projects where you have 1 or 2 teams of developers.</div>
                            <div class="footer">
                                <a href="@Url.Action("GetStarted", new { productType = EAccountType.Bolt })" class="btn btn-inverse">Start now</a>
                            </div>
                        </div>
                    </div>

                    <div class="small-12 large-4 columns pricing-table">
                        <div class="price-block">
                            <h3>Storm</h3>
                            <div class="price">
                                <div class="price-figure">
                                    <span class="price-number">$99 USD</span>
                                    <span class="price-tenure">per month</span>
                                </div>
                            </div>
                            <ul class="features">
                                <li>Unlimited Admin @*&amp; Dev *@accounts</li>
                                <li>Unlimited Environments</li>
								<li>Unlimited Deployment settings</li>
                                <li>Unlimited Packages</li>
                            </ul>
                            <div class="description">Great for huge projects where you have multiple teams of developers and very complex environments.</div>
                            <div class="footer">
                                <a href="@Url.Action("GetStarted", new { productType = EAccountType.Storm })" class="btn btn-inverse">Start now</a>
                            </div>
                        </div>
                    </div>
				</div>

                <div class="row">
                    <div class="small-12 columns">
                        <p>All plans allow you to use the full feature set of <span class="highlight">ZapConfig</span>, and our most popular plan is Bolt.</p>
                        <p>Got an open source project? Contact us on our <a href="@Url.Action("Support")">support page</a> for a free Bolt account!</p>
                        @*<p>Admin user accounts are able to see the unencrypted values of variables, whereas standard user accounts (like those that come with the Storm plan) will not see these encrypted values.</p>*@
                        <p>To talk to us about your own hosted instance, please contact us on our <a href="@Url.Action("Support")">support page</a>.</p>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<!-- End Pricing Section -->
	