﻿@model ContactFormModel
@{
    ViewBag.Title = "ZapConfig support";
}

    <div class="section" id="support" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Support</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						</div>
					</div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <p>If you have questions about using ZapConfig, checkout our <a href="@Url.Action("Docs")">documentation</a>.</p>
                        <p>If you want to know more about any of our plans, or you have a question about ZapConfig, please contact us using the <a href="#contact">contact form</a> below.</p>
                    </div>
                </div>
			</div>
		</div>
	</div> 

    <div class="section" id="faqs" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Frequently asked questions</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						</div>
					</div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <p class="question">Why should I use ZapConfig when I can just use the normal config transforms offered by msbuild?</p>
                        <p class="answer">
                            While the normal config transforms are great, they are somewhat limited in anything but a basic environment. We think configuration should be approached from an 'environment first' direction; that is you decide what your log level/connection string/web service uri/e.t.c. will be in each of your environments so your application doesn't have to. <br />
                            For example, you might use the same mail server in your dev and test environments, but UAT, Pre-Prod, and Prod might all have different values. ZapConfig allows you to set up values for these kinds of variables across your environments, and it does so in a simple and logical way.
                        </p>
                    </div>
                    <div class="small-12 columns">
                        <p class="question">I'm no developer, but my devs are telling me that ZapConfig is the way to go. What's the real business value of this service?</p>
                        <p class="answer">
                            Misconfiguration of environments slows your team down, and loses you countless hours of productivity while you team wastes time trying to figure out why their environments are behaving differently. ZapConfig brings environment configuration into one place and takes the guess work out of application deployments.
                        </p>
                    </div>
                    <div class="small-12 columns">
                        <p class="question">Okay, so how does ZapConfig help?</p>
                        <p class="answer">ZapConfig helps by centralising your application configuration <i>in one place</i>, for <i>all</i> of your configurations across <i>all</i> environments. It does this by allowing you to create variables that can have different values depending on an environment. Then, you can choose which variables your application will use when it's deployed. All of your environment configuration exists in one place, and when you want to change a value, you only need to do it once.</p>
                    </div>
@*
                    <div class="small-12 columns">
                        <p class="question">What's the difference between a deployment setting and a runtime setting ?</p>
                        <p class="answer">Deployment settings are values that are used when your application is being deployed, and are used to modify the values in your app/web.config. Runtime settings can be accessed by your application at runtime, so updating a value on ZapConfig will not require your application to be restarted.</p>
                    </div>
*@
                    <div class="small-12 columns">
                        <p class="question">Can I use ZapConfig for my .Net application?</p>
                        <p class="answer">Yes! ZapConfig is designed predominantly with .Net applications in mind, as it uses the extremely versatile app/web config transform engine to perform the xml transforms.</p>
                    </div>
                    <div class="small-12 columns">
                        <p class="question">Can I use ZapConfig for my application written in XYZ ?</p>
                        <p class="answer">Yes! While ZapConfig was originally built for use with .Net applications, if your application uses an xml based startup configuration file, then ZapConfig will work perfectly.</p>
                    </div>
                    <div class="small-12 columns">
                        <p class="question">I have a really great idea that you should add to ZapConfig!</p>
                        <p class="answer">That's great - we welcome new exciting ideas! Please let us know and we'll add it to the feature backlog.</p>
                    </div>
                </div>
			</div>
		</div>
	</div> 

	<!-- Contact Section -->
	<div class="section" id="contact" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Contact Us</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
							<p>Our small dedicated team is happy to help.</p>
						</div>
					</div>
					<div class="small-6 small-centered columns">
                        <form method="post" action="@Url.Action("Support")">
                            <fieldset>
                                <legend>Please enter your details below:</legend>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <label for="Name">Name:</label>
                                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Your name" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <label for="EmailAddress">Email address:</label>
                                        @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "You@yourdomain.com" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <label for="Question">Question:</label>
                                        @Html.TextAreaFor(m => m.Question, new { rows = "10" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns right">
                                        @Html.SpamPreventionFields()
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns right">
                                        <input type="submit" value="Submit" class="btn" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.ValidationSummary()
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
				</div>
			</div>
		</div> 

	</div>
	<!-- End Contact Section -->


@section PageScript {
    @Html.SpamPreventionScript()
}