﻿@model ValidateModel
@{
    ViewBag.Title = "ZapConfig account validation";
}
    <div class="section" id="support" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
                            @if (Model.IsValid) 
                            {
							    <h2>Thank you for validating your ZapConfig account.</h2>
							    <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                                <p>
                                    Click <a href="@(Url.Action("Login", "Home"))">here</a> to login.
                                </p>
                            }
                            else 
                            {
                                <h2>The validation url you entered is invalid.</h2>
							    <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                            }
						</div>
					</div>
                    @if (!Model.IsValid)
                    {
                    <div class="small-6 small-centered columns">
                        <form method="post" action="@Url.Action("Validate")">
                            <fieldset>
                                <legend>Enter your email address below to have your validation email sent again:</legend>
                                <div class="row">
                                    <div class="small-12 columns">
                                        @Html.LabelFor(m => m.EmailAddress)
                                        @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "You@yourdomain.com" })
                                        @Html.ValidationMessageFor(m => m.EmailAddress)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns right">
                                        @Html.SpamPreventionFields()
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns right">
                                        <input type="submit" value="Send Validation Email" class="btn" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    }
                </div>
			</div>
		</div>
	</div> 
