﻿@{
    ViewBag.Title = "ZapConfig account validation resent";
}
    <div class="section" id="support" >
		<div class="container">
			<div class="content">
				<div class="row">
					<div class="small-12 columns">
						<div class="title">
							<h2>Your ZapConfig validation email has been resent.</h2>
							<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
						</div>
					</div>
                    <div class="small-12 columns">
                        <p>
                            Check your email (and your spam folder!) for the ZapConfig validation email. The email contains a link that you will need to click on in order to confirm your email address is correct.
                        </p>
                        <p>
                            In the meantime, you can click <a href="@(Url.Action("Login", "Home"))">here</a> to continue using ZapConfig.
                        </p>
                    </div>
                </div>
			</div>
		</div>
	</div> 
