﻿<div data-bind="visible: $root.selectedTabId() == 'Variables'" class="row hidden">
    <div class="small-12 columns" data-bind="with: $root.variablesVM">
        <div class="row">
            <div class="small-6 columns">
                <h2>Variables</h2>
            </div>        
            <div class="small-2 offset-4 columns right">
                <button class="small" data-reveal-id="editVariableModal" data-bind="click: newVariable">New variable</button>
            </div>
        </div>

        <div class="row list">
            <!-- ko foreach: variables-->
            <div class="small-12 columns listitem" data-bind="css: { 'is-expanded': $data.isExpanded }">
                @*
                <div class="small-3 columns">
                    Runtime Access:&nbsp;<strong data-bind="text: $data.isRuntimeAccessible ? 'Enabled' : 'Disabled'"></strong>
                </div>
                *@
                <div class="row">
                    <div class="small-9 columns">
                        <p>
                            <strong data-bind="text: $data.name, click: $parent.toggleExpanded" class="wrap pointable"></strong><br/>
                            <span data-bind="text: $data.description"></span>
                        </p>
                    </div>
                    <div class="small-3 columns right">
                        <button class="small" data-reveal-id="editVariableModal" data-bind="click: $root.variablesVM.editVariable">Edit variable</button>
                    </div>
                </div>
                <div class="row show-if-expanded">
                    <div class="small-12 columns">
                        Default value:&nbsp;<strong data-bind="text: $data.defaultValue" class="wrap"></strong>
                        <br />
                    </div>
                </div>
                <div class="row show-if-expanded" data-bind="visible: $data.variableEnvironments.length > 0">
                    <div class="small-10 columns">
                        <table class="variable-display">
                            <thead>
                                <tr>
                                    <th>Environment</th>
                                    <th>Value</th>
                                    @*<th>Secured</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: $data.variableEnvironments -->
                                <tr>
                                    <td data-bind="text: environmentName"></td>
                                    <td data-bind="text: value, attr: {title: value}"></td>
                                    @*<td data-bind="text: isHidden"></td>*@
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row show-if-expanded" data-bind="visible: $data.variableEnvironments.length == 0">
                    <div class="small-10 columns">
                        <i><small>All environments are currently using the default value. Click Edit variable to assign a different value for one or more environments.</small></i>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>

    <!-- ko if: $root.variablesVM.editVariableVM.variable() != null -->
        <div id="editVariableModal" class="reveal-modal" data-bind="with: $root.variablesVM.editVariableVM.variable">
            <a class="close-reveal-modal">&#215;</a>

            <h2 data-bind="text: isNew() ? 'Create a new variable' : 'Edit variable'"></h2>
            <div class="row">
                <div class="small-8 columns">
                    <label for="new-variable-name">Name:</label>
                    <input type="text" id="new-variable-name" placeholder="e.g. PrimaryConnectionString" data-bind="value: name" />
                </div>
@*                <div class="small-4 columns right">
                    <label>&nbsp;</label>
                    <label for="is-runtime-accessible">
                        <input type="checkbox" id="is-runtime-accessible" data-bind="checked: isRuntimeAccessible">
                        Runtime accessible
                    </label>
                </div>*@
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label for="new-variable-default-value">Default value:</label>
                    <input type="text" id="new-variable-default-value" placeholder="e.g. Server=localhost;Database=AppDataBase;IntegratedSecurity=yes;" data-bind="value: defaultValue" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label for="new-variable-description">Description:</label>
                    <textarea id="new-variable-description" data-bind="value: description" rows="4"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <table class="variable-display">
                        <thead>
                            <tr>
                                <th>Environment</th>
                                <th class="center">Override</th>
                                <th>Value</th>
                                @*<th class="center">Secured</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: variableEnvironments -->
                            <tr>
                                <td data-bind="text: environmentName"></td>
                                <td class="center"><input type="checkbox" data-bind="checked: isOverridden" /></td>
                                <td><input type="text" data-bind="value: value, enable: isOverridden" /></td>
                                <td class="center" style="display: none"><input type="checkbox" data-bind="checked: isHidden, enable: isOverridden" /></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ko with: $root.variablesVM.editVariableVM -->
            <div class="row">
                <div class="small-12 columns">
                    <ul id="validation-summary" data-bind="foreach: saveErrors"><li data-bind="text: $data"></li></ul>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <button class="alert" data-bind="click: deleteVariable, disable: isSaving, visible: !variable().isNew()">Delete</button>
                </div>
                <div class="small-6 columns right">
                    <button data-bind="click: save, disable: isSaving">Save</button>
                    <button data-bind="click: cancel, disable: isSaving">Cancel</button>
                </div>
            </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->
</div>