﻿<div data-bind="visible: $root.selectedTabId() == 'Packages'" class="row hidden">
    <div class="small-12 columns" data-bind="with: $root.packagesVM">
        <div class="row">
            <div class="small-6 columns">
                <h2>Packages</h2>
            </div>
            <div class="small-2 offset-4 columns right">
                <button class="small" data-bind="click: createPackage">New package</button>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <ul class="side-nav" data-bind="foreach: packages">
                    <li data-bind="click: $root.packagesVM.selectPackage, css: { active: $root.packagesVM.selectedPackage() != null && $root.packagesVM.selectedPackage().id() == $data.id }">
                        <span data-bind="text: $data.name + ' ' + $data.version"></span>
                    </li>
                </ul>
            </div>
            <div class="small-9 columns" data-bind="if: selectedPackage() != null">
                <!-- ko with: selectedPackage -->
                    <div class="row">
                        <div class="small-6 columns">
                            <label for="package-name">Name:</label>
                            <input type="text" id="package-name" placeholder="e.g. Company.Service" data-bind="value: name" />
                        </div>
                        <div class="small-6 columns">
                            <label for="package-version">Version:</label>
                            <input type="text" id="package-version" placeholder="e.g. 1.2.3" data-bind="value: version" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <label for="package-description">Description:</label>
                            <textarea id="package-description" data-bind="value: description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <span class="help" data-bind="click: $root.packagesVM.toggleTransformHelp"></span>
                            <label for="package-transform">Transform:</label>
                            <div class="small-12 columns transform-help" data-bind="visible: $root.packagesVM.showingTransformHelp">
                                <p>Build up your xml transform by starting with a basic xml document and adding the various elements that you wish to override when this package is deployed.</p>
                                <p>Replace attribute values with either variables (using ${MyVariable} syntax) or a hard-coded value:</p>
                                <pre>
&lt;?xml version="1.0"?&gt;
&lt;configuration&gt;
  &lt;connectionStrings&gt;
    &lt;add name="MyDatabaseConnection" connectionString="${ConnectionString}" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/&gt;
  &lt;/connectionStrings&gt;
&lt;/configuration&gt;

                                </pre>
                                <p>You can mix and match from a range of <i>xdt:Transform</i> and <i>xdt:Locator</i> behaviours using the following attributes:</p>
                                <strong>xdt:Transform</strong>
                                <ul>
                                    <li>Replace</li>
                                    <li>Insert</li>
                                    <li>InsertBefore(XPath expression)</li>
                                    <li>InsertAfter(XPath expression)</li>
                                    <li>Remove</li>
                                    <li>RemoveAll</li>
                                    <li>RemoveAttributes(comma-delimited list of one or more attribute names)</li>
                                    <li>SetAttributes(comma-delimited list of one or more attribute names)</li>
                                </ul>
                                <br />
                                <strong>xdt:Locator</strong>
                                <p>Locates the element(s) that the transform will apply to. This attribute is optional.</p>
                                <p>Values:</p>
                                <ul>
                                    <li>Condition(@@name='oldname' or @@providerName='oldprovider')</li>
                                    <li>Match(comma-delimited list of one or more attribute names)</li>
                                    <li>XPath(XPath expression)</li>
                                </ul>
                                <p>More information can be found on the msdn page <a href="http://msdn.microsoft.com/en-us/library/dd465326.aspx" target="_blank">here</a>.</p>
                            </div>

                            <div class="small-12 columns" id="package-transform"></div>
                        </div>
                    </div>

                    <!-- ko with: $root.packagesVM -->                       
                        @*<!-- ko with: $root.packagesVM.exampleTransformVM -->
                            <div class="row collapse padbottom" data-bind="visible: isEnabled">
                                <div class="small-12 columns">
                                    <a href="$" data-bind="click: showHideExamplePanel, text: showHideLabel"></a>
                                </div>
                            </div>
                            <div class="row collapse" data-bind="visible: isShowing">
                                <div class="small-5 columns">
                                    <label for="select-environment">View this transform in an environment:</label>
                                    <select id="select-environment" data-bind="options: environments, optionsText: 'name', value: selectedEnvironment, optionsCaption: 'Select an environment...'"></select>
                                </div>
                                <div class="small-2 columns">
                                    <button class="prefix" id="test-transform" data-bind="click: showExampleTransform">Generate Example</button>
                                </div>
                            </div>
                            <div class="row" data-bind="visible: isShowing">
                                <div class="small-12 columns">
                                    <label for="example-transform">Example result:</label>
                                    <textarea id="example-transform" data-bind="value: transformResult" rows="15" readonly="readonly"></textarea>
                                </div>
                            </div>

                        <!-- /ko -->*@
                        <div class="row">
                            <div class="small-12 columns">
                                <ul id="validation-summary" data-bind="foreach: saveErrors"><li data-bind="    text: $data"></li></ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns">
                                <button class="alert" data-bind="click: deletePackage, disable: isSaving, visible: !selectedPackage().isNew()">Delete</button>
                            </div>
                            <div class="small-6 columns right">                
                                <button data-bind="click: save, disable: isSaving">Save</button>
                            </div>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>