﻿<div data-bind="visible: $root.selectedTabId() == 'Account'" class="row hidden">
    <div class="small-12 columns" data-bind="with: $root.accountVM">
        <div class="row">
            <div class="small-12 columns">
                <h2>Account</h2>
            </div>        
        </div>

        <div class="row">
            <div class="small-3 columns">
                <ul class="side-nav" data-bind="foreach: tabs">
                    <li data-bind="click: $root.accountVM.subitem, css: { active: $root.accountVM.subitem() != null && $root.accountVM.subitem().id == $data.id }">
                        <span data-bind="text: $data.name"></span>
                    </li>
                </ul>
            </div>
            <!-- ko if: account() != null -->
                <div class="small-9 columns">
                    <div class="row">
                        <div class="small-12 columns" data-bind="visible: subitem() != null && subitem().id == 'status'" >
                            <h2>Your Account Status</h2>
                            <div class="row">
                                <div class="small-12 columns">
                                    <h4>Account type: <span data-bind="text: account().accountTypeName()"></span></h4>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="small-12 columns">
                                    <strong>Users:</strong>&nbsp;<span data-bind="text: account().userCount() + ' of ' + account().userMax()"></span>
                                    <div class="progress round" data-bind="css: account().userUsage == 100 ? 'alert' : 'success'"><span class="meter" data-bind="style: { width: account().userUsage }"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <strong>Environments:</strong>&nbsp;<span data-bind="text: account().environmentCount() + ' of ' + account().environmentMax()"></span>
                                    <div class="progress round" data-bind="css: account().userUsage == 100 ? 'alert' : 'success'"><span class="meter" data-bind="style: { width: account().environmentUsage }"></span></div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="small-12 columns">
                                    <strong>Variables:</strong>&nbsp;<span data-bind="text: account().variableCount() + ' of ' + account().variableMax()"></span>
                                    <div class="progress round" data-bind="css: account().userUsage == 100 ? 'alert' : 'success'"><span class="meter" data-bind="style: { width: account().variableUsage }"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <strong>Packages:</strong>&nbsp;<span data-bind="text: account().packageCount() + ' of ' + account().packageMax()"></span>
                                    <div class="progress round" data-bind="css: account().packageUsage == 100 ? 'alert' : 'success'"><span class="meter" data-bind="style: { width: account().packageUsage }"></span></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-12 columns">
                                    <strong>License status:</strong>&nbsp;<span data-bind="text: account().licenseStatus()"></span>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="small-12 columns">
                                    <strong>License key:</strong>
                                    <input type="text" id="license-key" data-bind="value: account().licenseKey" />
                                </div>
                                <div class="small-12 columns">
                                    <button class="primary" data-bind="click: updateLicenseKey, disable: isUpdatingLicenseKey">Update</button>
                                </div>
                            </div>
                            <div class="row" data-bind="visible: account().isLockedDown()">
                                <div class="small-12 columns">
                                    <strong>Account locked down</strong>&nbsp;Your account is locked down. This means that your license has expired, or ZapConfig is unable to contact the licensing server.
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-6 columns">
                                    <button class="primary" data-bind="visible: account().isUpgradeable" data-reveal-id="upgradeAccountModal" >Upgrade</button>
                                </div>
                            </div>
                        </div>
                        <div class="small-12 columns" data-bind="visible: subitem() != null && subitem().id == 'users'" >
                            <h2>Your Account Users</h2>
                            <div class="row">
                                <div class="small-12 columns">
                                    <p>
                                        You have used <span data-bind="text: account().userCount() + ' of ' + account().userMax()"></span> users. 
                                        <span data-bind="visible: account().accountType() != 3">Click <a href="#Account" data-reveal-id="upgradeAccountModal">here</a> to upgrade your account.</a>
                                    </p>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Email address</th>
                                                <th>Last login</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: users">
                                            <tr>
                                                <td data-bind="text: emailAddress()"></td>
                                                <td data-bind="text: lastLoginFormatted()"></td>
                                                <td><a href="#" data-bind="click: $root.accountVM.deleteUser">Delete</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-6 columns">
                                    <button class="primary" data-reveal-id="editUserModal" data-bind="click: newUser">Create user</button>
                                </div>
                            </div>
                        </div>
                        <div class="small-12 columns" data-bind="visible: subitem() != null && subitem().id == 'apikey'" >
                            <h2>Your Api Key</h2>
                            <div class="row">
                                <div class="small-12 columns">
                                    <p>You will need to use your api key when interacting with ZapConfig from your deployed application. Check out the <a href="@(System.Configuration.ConfigurationManager.AppSettings["MainSiteBaseUrl"] + "Docs")" target="_blank">documentation</a> for more information.</p>
                                    <p>Your ApiKey is: <strong data-bind="text: account().apiKey()"></strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-6 columns">
                                    <button class="primary" data-bind="click: regenerateApiKey, disable: isRegenerating">Regenerate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>

    <!-- ko if: $root.accountVM.editUserVM.user() != null -->
        <div id="editUserModal" class="reveal-modal" data-bind="with: $root.accountVM.editUserVM.user">
            <a class="close-reveal-modal">&#215;</a>

            <h2 data-bind="text: isNew() ? 'Create a new user' : 'Edit user'"></h2>
            <div class="row">
                <div class="small-12 columns">
                    <label for="new-user-name">Email address:</label>
                    <input type="text" id="new-user-email" placeholder="e.g. johnny@developer.com" data-bind="value: emailAddress" />
                </div>
            </div>
            <!-- ko with: $root.accountVM.editUserVM -->
            <div class="row">
                <div class="small-12 columns">
                    <ul class="validation-summary" data-bind="foreach: saveErrors"><li data-bind="text: $data"></li></ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns right">                
                    <button data-bind="click: save, disable: isSaving">Save</button>
                    <button data-bind="click: cancel, disable: isSaving">Cancel</button>
                </div>
            </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->

    <!-- ko if: account() != null -->
        <div id="upgradeAccountModal" class="reveal-modal" data-bind="with: $root.accountVM">
            <a class="close-reveal-modal">&#215;</a>

            <h2>Upgrade your account</h2>
            <div class="row" data-bind="visible: !upgradeAccountVM.isRequestSent()">
                <div class="small-4 columns">
                    Upgrade from <span data-bind="text: account().accountTypeName()"></span> to:
                </div>
                <div class="small-8 columns" data-bind="foreach: upgradeAccountVM.availableUpgradePackages">
                    <input type="radio" name="upgradeTarget" data-bind="checked: $root.accountVM.upgradeAccountVM.targetUpgradePackageId, checkedValue: $data, value: packageId, attr: { id: packageId }" />
                    <label class="inline" data-bind="text: packageName, attr: { for: packageId }"></label><br />
                </div>
            </div>
            <div class="row" data-bind="visible: !upgradeAccountVM.isRequestSent()">
                <div class="small-12 columns">                
                    <p>(Click <a href="@Url.Action("Pricing", "Home")" target="_blank">here</a> to learn more about our different plans.)</p>
                </div>
            </div>
            <div class="row" data-bind="visible: !upgradeAccountVM.isRequestSent()">
                <div class="small-12 columns right">                
                    <button data-bind="click: upgradeAccountVM.requestAccountUpgrade, disable: upgradeAccountVM.isSaving">Confirm</button>
                    <button data-bind="click: upgradeAccountVM.cancel, disable: upgradeAccountVM.isSaving">Cancel</button>
                </div>
            </div>
            <div class="row" data-bind="visible: upgradeAccountVM.isRequestSent()">
                <div class="small-12 columns small-centered">                
                    <p>Your upgrade request has been sent.</p>
                </div>
            </div>
        </div>
    <!-- /ko -->
</div>