﻿<div data-bind="visible: $root.selectedTabId() == 'Dashboard'" class="row hidden">
    <div class="small-12 columns" data-bind="with: $root.dashboardVM">
        <div class="row">
            <div class="small-16 columns">
                <h2>Dashboard</h2>
            </div>
            </div>
        <!-- ko foreach: auditEntries -->
        <div class="row">
            <div class="small-12 columns large-panel">
                <fieldset class="listitem-panel">
                    <legend data-bind="text: $data.actionType"></legend>
                    <div class="row">
                        <div class="small-9 columns">
                            <p data-bind="text: $data.message"></p>
                        </div>
                        <div class="small-3 columns">
                            <p data-bind="text: $data.formattedDate"></p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>