﻿@{
    ViewBag.Title = "Welcome to ZapConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Bundles.Reference("Content/Scripts/admin", "AdminScripts");  
}

@section Navigation {
    <!-- Left Nav Section -->
    <ul class="left" data-bind="foreach: tabs">
        <li class="divider"></li>
        <li data-bind="css: { active: $data == $root.selectedTabId() }"><a href="#" data-bind="text: $data, click: $root.goToTab" ></a></li>
    </ul>
}
<div class="hr hr-invisible"></div>

@Html.Partial("Index.Dashboard")
@Html.Partial("Index.Environments")
@Html.Partial("Index.Variables")
@Html.Partial("Index.Packages")
@Html.Partial("Index.Account")

@section PageScript {
    @Bundles.RenderScripts("AdminScripts")
}