﻿<div data-bind="visible: $root.selectedTabId() == 'Environments'" class="row hidden">
    <div class="small-12 columns" data-bind="with: $root.environmentsVM">
        <div class="row">
            <div class="small-6 columns">
                <h2>Environments</h2>
            </div>
            <div class="small-2 offset-4 columns right">
                <button class="small" data-reveal-id="editEnvironmentModal" data-bind="click: newEnvironment">New environment</button>
            </div>
        </div>

        <!-- ko foreach: environments -->
        <div class="row">
            <div class="small-12 columns large-panel">
                <fieldset class="listitem-panel">
                    <legend data-bind="text: $data.name"></legend>
                    <div class="row">
                        <div class="small-9 columns">
                            <p data-bind="text: $data.description"></p>
                        </div>
                        <div class="small-3 columns right">
                            <button class="small" data-reveal-id="editEnvironmentModal" data-bind="click: $root.environmentsVM.editEnvironment">Edit environment</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <!-- ko if: $root.environmentsVM.editEnvironmentVM.environment() != null -->
    <div id="editEnvironmentModal" class="reveal-modal" data-bind="with: $root.environmentsVM.editEnvironmentVM.environment">
        <a class="close-reveal-modal">&#215;</a>

        <h2 data-bind="text: isNew() ? 'Create a new environment' : 'Edit environment'"></h2>
        <div class="row">
            <div class="small-12 columns">
                <label for="new-environment-name">Name:</label>
                <input type="text" id="new-environment-name" placeholder="e.g. Production" data-bind="value: name" />
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <label for="new-environment-description">Description:</label>
                <textarea id="new-environment-description" data-bind="value: description"></textarea>
            </div>
        </div>
        <!-- ko with: $root.environmentsVM.editEnvironmentVM -->
        <div class="row">
            <div class="small-12 columns">
                <ul id="validation-summary" data-bind="foreach: saveErrors"><li data-bind="text: $data"></li></ul>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <button class="alert" data-bind="click: deleteEnvironment, disable: isSaving, visible: !environment().isNew()">Delete</button>
            </div>
            <div class="small-6 columns right">                
                <button data-bind="click: save, disable: isSaving">Save</button>
                <button data-bind="click: cancel, disable: isSaving">Cancel</button>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>