﻿@model AppConfig.Api.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login to your ZapConfig Account";
}

@section Navigation {
}

@section PageScript {
}

	<div class="section section-alt" id="pricing">
		<div class="container">
			<div class="content">
				<div class="row" >
					<div class="title">
						<h2>Access your Zapconfig account</h2>
						<div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
					</div>
				</div>
				<div class="row">
                </div>
			</div>
		</div>
	</div>

    <div class="row">
        <div class="small-12 columns">
            <div class="row login">
                <div class="small-6 small-centered columns">

                    <form method="post" action="~/api/auth/credentials?format=json" class="ajax-submit">
                        <fieldset>
                            <legend>Please enter your email address and password:</legend>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label for="UserName">Email address:</label>
                                    <input type="text" id="UserName" name="UserName" placeholder="Email address" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <label for="Password">Password:</label>
                                    <input type="password" id="Password" name="Password" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-6 columns">
                                    <a href="@Url.Action("ForgotPassword")">Forgot password?</a>
                                </div>
                                <div class="small-6 columns right">
                                    <input type="submit" value="Login" class="btn" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <ul class="validation-summary"></ul>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="row">
                    <div class="small-6 small-centered columns right">
                        <a href="@Model.GetStartedUrl">Need an account? Get started here &raquo;</a>
                    </div>
                </div>

            </div>
        </div>
    </div>