﻿.help {
    background-image: url(../Images/help-small.png);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: -6px;
    cursor: pointer;
}

.transform-help {
    font-size: 0.8em;
    border-left: 1px dashed #ccc;
    margin: 10px 0;
}

.transform-help ul {
    padding-left: 30px;
}

#package-transform {
    height: 500px;
    font-size: 12px !important;
}

.auto-complete-dropdown {
    position: absolute;
    z-index: 100;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 200px;
    height: 200px;
}

ul.side-nav li, ul.side-nav li span {
    cursor: pointer;
}

.variable-display td {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 700px;
}

.listitem .show-if-expanded {
    display: none;
}

.listitem p {
    margin-bottom: 0;
}

.listitem.is-expanded .show-if-expanded {
    display: block;
}

.listitem.is-expanded  p {
    margin-bottom: 1.25em;
}
