﻿img.banner-image {
    width: 128px;
    height: 128px;
    margin-bottom: 20px;
}

body::-moz-selection {background: #3498db; color: #fff; }
body::selection {background: #3498db; color: #fff; }

a { 
	text-decoration: none;
	 
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
a:hover, a:focus { text-decoration: none; border: none; }
a{
	color: #3498db;
	text-decoration: none;
	border-bottom: 1px solid #3498db;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0 10px 0px;
	font-weight: normal;
	line-height: 1.3;
	color: inherit;
}

h1,
h2 {
	line-height: 1.4;
	letter-spacing: 3px;
    text-transform: uppercase;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
	letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
	font-size: 18px;
    font-weight: bold;
}

h5 {
	font-size: 14px;
	font-weight: bold;
    font-style: italic;
}

h6 {
	font-size: 12px;
}
span.highlight{
	color: #3498db;
}

.title{
	text-align: center;
	margin-bottom: 40px;
}
.title h2{
	font-weight: bold;
	font-size: 2.2em;
	margin: 0px;
	text-align: center;
}
.title p{
	letter-spacing: 1px;
    line-height: 1.6em;
    font-size: 20px;
    margin: 0px;
}

/* Icon Blocks ------------------------------------------ */
.i-block{
	text-align: center;
}
/*.i-block i{display: inline-block;margin-bottom: 24px;font-size: 6em; color: #a1a1a1}*/
.i-block h3{ 
    color: #444;
	font-weight: bold;
	font-size: 1.8em;
	margin-top: 0px;
	margin-bottom: 14px;
}

.text-center {
	text-align: center;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.login {
    padding-bottom: 150px;
}
#footer {
	font-weight: bold;
	background: #3498db;
	color: #fff;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
}

#footer p {
    margin: 0;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

.hero-panel {
	border-bottom: 1px solid #e1e1e1;
	display: inline-block;
	width: 100%;
	margin-top: 0px;
    padding-top: 150px;
    height: 400px;
	background: #3498db;
}
.slogan {
    text-align: center;
    padding: 0 40px;
}
.hero-panel h1 {    
	text-shadow: 2px 2px 2px #333333;
	color: #ffffff;
}

/* Dividers ------------------------------------------ */
/*hr {
	border-bottom: 1px solid #3498db;
}*/
.hr-small {
	float: none;
}
.hr {
	clear: both;
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	position: relative;
	margin: 10px 0;
	float: left;
}
.hr-center.hr-small .hr-inner {
	left: 50%;
}
.hr-small .hr-inner {
	width: 32%;
	margin-left: -16%;
}
.hr-inner {
	border-color: #e1e1e1;
	width: 100%;
	position: absolute;
	height: 1px;
	top: 50%;
	margin-top: -1px;
	border-top-width: 1px;
	border-top-style: solid;
}
.hr-invisible {
	margin-bottom: 0;
}
.hr-docs {
    position: relative;
    top: 11px;
	border-color: #e1e1e1;
	width: 100%;
	height: 1px;
	margin-top: -1px;
	border-top-width: 1px;
	border-top-style: solid;
}
hr {
	border: 0;
	margin: 10px 0;
}
#contact hr.grey {
	margin: 17px 0 16px 0;
}
hr.grey {
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	margin: 10px 0;
}

blockquote blockquote {
    border: 0;
    font-style: italic;
}

h4.docs {
    margin-top: 30px;
}
.parameter-name {
    text-decoration: underline;
}

.error-title {
    text-decoration:underline;
}

ul.docs-menu li {
    list-style: none;
    font-size: 0.8em;
    padding-top: 6px;
}