﻿/* Navigation */
#header {
    z-index: 100;
    top: 0px;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff)';
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4Cffffff, endColorstr=#4Cffffff);
    position: fixed;
    height: 50px;
}
#nav-button{
	display: none;
}
#logo{
	display: block;
	border: none;
	margin-top: 4px;
	margin-bottom: 0px;
	margin-left: 20px;
	float: left;
}
#logo a{
	color: #333;
	text-decoration: none;
	border: none;	
}
#logo span{
	margin-left: -12px;
}
div#top-nav{
	margin-top: 13px;
}
div#top-nav ul {

	float: right;
	margin-bottom: 0px;
}
div#top-nav #fluid-nav li, div#top-nav #fixed-nav li {
	display: inline-block;
	margin-left: 20px;
}

div#top-nav #fluid-nav li:first-child, div#top-nav #fixed-nav li:first-child  {
	margin-left: 0;
}
div#top-nav #fluid-nav li a, div#top-nav #fixed-nav li a {
	color: #333;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
}
div#top-nav #fluid-nav li a:hover {
	color: #333;
	text-decoration: none;

}
div#top-nav #fixed-nav li a:hover {
	text-decoration: none;
	color: #3498db;
}
div#top-nav #fixed-nav li.current a {
	color: #333;
	padding-bottom: 5px;
	border-bottom: 3px solid #3498db;
}