﻿.pricing-table {
    line-height: 150%;
    font-size: 12px;
    padding-top: 10px;
}
.price-block {
    width: 100%;
    color: #fff;
    float: left;
    list-style-type: none;
    transition: all 0.25s;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    text-align: center;
    cursor: pointer;
}

.pricing-table h3 {
    padding: 5px 0;
    background: #333;
    margin: -10px 0 1px 0;
}

.price {
    display: table;
    background: #444;
    width: 100%;
    height: 70px;
}
.price-figure {
    font-size: 24px;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
}
.price-number {
    font-weight: bold;
    display: block;
}
.price-tenure {
    font-size: 11px;
}
.features {
    background: #3498db;
}
.features li {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    list-style-type: none;
}
.price-block .description {
    font-size: 10pt;
    height: 80px;
}
.footer {
    padding: 15px;
    background: #3498db;
}

.price-block:hover .price {
    background:linear-gradient(#DB7224, #F9B84A);
    box-shadow: inset 0 0 45px 1px #DB7224;
}
.price-block:hover h3 {
    background: #222;
}
.price-block:hover .action_button {
    background: linear-gradient(#F9B84A, #DB7224);
}
@media (max-width: 767px) {
    .price-block {margin-bottom: 50px;}
}
/*
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .price-block {width: 50%;}
    .price-block:nth-child(odd) {border-right: 1px solid transparent;}
    .price-block:nth-child(3) {clear: both;}
    .price-block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 768px){
    .price-block {width: 25%;}
    .price-block {border-right: 1px solid transparent; border-bottom: 0 none;}
    .price-block:last-child {border-right: 0 none;}
    .price-block:hover {border: 0 none;}
}*/