﻿body {
    font-family: Helvetica, 'Segoe UI', sans-serif;
}

/* Fix for foundation textarea height bug */
textarea {
  height: auto;
}

/* Make the selected nav items more obvious */
.top-bar-section ul li.active a {
    background-color: #666;
}

/* When we scroll down, let's make the margin a bit smaller than the stock margin */
@media only screen and (min-width: 58.75em) {
    .contain-to-grid .top-bar {
        margin-bottom: 1em;
    }
}

#body {
    padding-top: 50px;
}

.strong {
    font-weight: bold;
}
.wrap {
    word-wrap: break-word;
}

.pointable {
    cursor: pointer;
}

.row .padbottom {
    margin-bottom: 10px !important;
}
.list {
}
.list .listitem {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.right {
    float: right;
    text-align: right;
}

.invalid {
    border: 1px solid #c00 !important;
}

label.inline {
    display: inline;
}

/* A large list item panel */
.listitem-panel {
}

.listitem-panel legend {
    font-size: 1.5em;
}

table.variable-display {
    width: 100%;
}

.center {
    text-align: center;
}

ul.side-nav li {
    padding: 5px;
    margin: 0px;
}
ul.side-nav li:hover {
    background-color: #ddd;
}
ul.side-nav li.active {
    background-color: #abc2cf;
}


.input-validation-error {
    border: 1px solid yellow !important;
    margin-bottom: 5px !important;
}

.field-validation-error {
    color: red;
    font-size: 10pt;
    margin-bottom: 20px;
    display: inline-block;
}
