﻿@{
    Bundles.Reference("Content/Css", "Css");
    Bundles.Reference("Content/Scripts", "Scripts");  
}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>@(ViewBag.Title)@(ViewBag.Title != null ? " - " : string.Empty) - Environment configuration made easy!</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Bundles.RenderStylesheets("Css")
</head>
<body>
    <nav id="header">
        <div class="row">
            <div class="small-12 columns">
                <h2 id="logo">
                    <a href="/"><img src="~/Content/Images/logo-small.png" height="32" width="32" alt="" title="" /> Zap <span class="highlight">Config</span></a>
		        </h2>
                <div id="top-nav" class="">
					<ul id="fixed-nav">
						@RenderSection("Navigation")
					</ul>
				</div>

            </div>
        </div>
    </nav>

    <div id="body">
        @RenderBody()
    </div>

    @Bundles.RenderScripts("Scripts")

    @RenderSection("PageScript", false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-2452650-8', 'zapconfig.com');
        ga('send', 'pageview');
    </script>

</body>
</html>